.inf {
    background-color: brown;
}
.art {
    background-color: skyblue;
}
.h1 {
    background-color: skyblue;
}
.color {
    background-color: beige;
    
}
.titulo {
    background-color: skyblue;
}
